body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
  color: #fff;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: brightness(0.5);
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 1200px) {
  .jumbotron {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (min-width: 1600px) {
  .jumbotron {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 900;
  margin-bottom: 32px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.jumbotron-bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  border: 0;
  border-radius: 0;
  background-color: #04336b;
}
.jumbotron-bg-france {
  background-color: #04336b;
}
.jumbotron-bg-italy {
  background-color: #036f37;
}
.jumbotron-bg-brazil {
  background-color: #c8aa1b;
}

@media (min-width: 1024px) {
  .jumbotron-bg {
    background-image: url("./images/france.png");    
  }
  .jumbotron-bg-france {
    background-image: url("./images/france.png");
  }
  .jumbotron-bg-italy {
    background-image: url("./images/italy.png");
  }
  .jumbotron-bg-brazil {
    background-image: url("./images/brazil.png");
  }
}

.navbar-dark .navbar-brand {
  color: #000;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:active,
.navbar-dark .navbar-brand:focus {
  color: #000;
}

.navbar-dark .navbar-brand img {
  opacity: 0.5;
}
.navbar-dark .navbar-brand strong {
  margin-left: 5px;
}

.space-bar {
  height: 1px;
  margin-bottom: 80px;
}

.height-300 {
  height: 480px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .height-300 {
    height: 385px;
  }
}
@media (min-width: 1024px) {
  .height-300 {
    height: 300px;
  }
}

.btn-solid-light {
  color: rgba(0, 0, 0, 0.7);
  background-color: #fff;
  border-color: #fff;
}

.btn-solid-light:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.btn-chat {
  border: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 20px 20px 0;
  background-color: #6c757d;
  display: none;
}

.featurette-heading {
  font-size: 3.5rem;
  margin-top: 6rem;
}

.text-bold {
  font-weight: 700;
}

.social-icon {
  width: 32px;
  margin: 0 4px;
}

.share-icon {
  width: 24px;
}

.offer-card {
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 12px;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.offer-card .card-title {
  font-size: 12px;
}

.offer-card-container .btn {
  border-radius: 30px;
  font-size: 12px;
  border-color: #6c757d;
  background-color: #6c757d;
}

.offer-card-container .card-text {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.offer-card-container .card-divider {
  display: block;
  width: 50px;
  height: 2px;
  background-color: #1c1c1c;
  margin: 12px auto;
}

.offer-card-container {
  position: relative;
}

.card-badge {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  border: 0;
  border-radius: 0;
  padding: 10px 20px;
  margin-top: -1px;
  margin-right: -1px;
}

.divider-line {
  position: relative;
  width: 300px;
  margin: 10px auto; 
}
.divider-line::before,
.divider-line::after {
  content: '';
  height: 1px;
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
}
.divider-line:before {
  left: -25px;
}
.divider-line::after {
  right: -25px; 
}

.modal .modal-header .btn-close {
  display: none;
}
@media (min-width: 1200px) {
  .modal .modal-dialog {
    max-width: 570px;
  }
}
.card-heading {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

.card-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.cody-launcher, #cody-wrapper {
  background: #6c757d !important;
}

#cody-wrapper {
  --background-color: #6c757d !important;   
  background-color: var(--background-color);
}

.cody-launcher svg {
  background: #6c757d !important;
  fill: #6c757d !important;
}
